#create .tfavrs from this and add actual values
aws_region   = "ap-south-1"
project_name = "aws-ha-app"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24"
]

app_port = 8080
db_port  = 3306
alarm_email = "pathakparthixc7503@gmail.com"
github_connection_arn = "arn:aws:codestar-connections:ap-south-1:YOUR_ACCOUNT_ID:connection/YOUR_CONNECTION_ID"

github_repository = "YOUR_GITHUB_USERNAME/devops_use_case"

github_branch = "main"