#create .tfavrs from this and add actual values
aws_region   = "ap-south-1"
project_name = "aws-ha-app"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24"
]

app_port = 8080
db_port  = 3306